@import './fonts.css';

html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: "Raleway", Arial, sans-serif;
  color: #2F2F2F;
  font-weight: 300;
  background-color: #ebedee;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
